<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">User</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/user/admin-dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link rightMenuOpen" href="/user/admin-dashboard">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Vaccination Report</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/admin-blood-grp-info">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Blood Group Info</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hi! <%- _user.first_name%></span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/logout" >
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>
                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Get Blood Group Report Details By</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="bypincode">
                                        <label class="form-check-label" for="inlineRadio1">By Pincode</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="bycertificate">
                                        <label class="form-check-label" for="inlineRadio2">By Certificate</label>
                                      </div>
                                    <div class="form-group row">
                                        <div class="col-sm-3 mb-3 mb-sm-0 pincode-div d-none">
                                            <label>Select Pincode</label>
                                            <select name="Pincode" id="Pincode" class="form-control rounded-0">
                                                <option value="" >Choose Pincode</option>
                                               <%for(let pins of pincode_list){%>
                                                <option value="<%-pins.pincode%>" ><%-pins.pincode%></option>
                                                <%}%>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-3 mb-sm-0 Vaccination-cert d-none">
                                            <label>Vaccination  cert-1</label>
                                            <select name="Vaccination-cert-1" id="Vaccination-cert-1" class="form-control rounded-0">
                                                <option value="">Vaccination  cert-1</option>
                                                <%for(let certi1 of findVC1Certificate){%>
                                                    <option value="<%-certi1.vc_1%>" ><%-certi1.vc_1%></option>
                                                <%}%>
                                            </select>
                                        </div>

                                        <div class="col-sm-3 mb-3 mb-sm-0 Vaccination-cert d-none">
                                            <label>Vaccination  cert-2</label>
                                            <select name="Vaccination-cert-2" id="Vaccination-cert-2" class="form-control rounded-0">
                                                <option value="">Vaccination  cert-2</option>
                                                <%for(let certi2 of findVC2Certificate){%>
                                                    <option value="<%-certi2.vc_2%>" ><%-certi2.vc_2%></option>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>

                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Blood Group</th>
                                                <th>Age</th>
                                                <th>Certificate 1</th>
                                                <th>Certificate 1 Date</th>
                                                <th>Certificate 2</th>
                                                <th>Certificate 2 Date</th>
                                                <th>Vaccination City 1</th>
                                                <th>Vaccination City 2</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Blood Group</th>
                                                <th>Age</th>
                                                <th>Certificate 1</th>
                                                <th>Certificate 1 Date</th>
                                                <th>Certificate 2</th>
                                                <th>Certificate 2 Date</th>
                                                <th>Vaccination City 1</th>
                                                <th>Vaccination City 2</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <% for(let user of user_list){%>
                                                    <tr>
                                                    <td><%- user.blood_gruop%></td>
                                                    <td><%- user.age%></td>
                                                    <td><%- user.vc_1%></td>
                                                    <td><%- user.vc_1_date%></td>
                                                    <td><%- user.vc_2%></td>
                                                    <td><%- user.vc_2_date%></td>
                                                    <td><%- user.vc_1_city%></td>
                                                    <td><%- user.vc_2_city%></td>
                                                </tr>
                                                <%}%>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/demo/datatables-demo.js"></script>
    <script>
        $(document).ready(function(){
            $('input[type=radio][name=inlineRadioOptions]').change(function() {
                if (this.value == 'bypincode') {
                    $(".pincode-div").removeClass('d-none')
                    $(".Vaccination-cert").addClass('d-none')
                }
                else if (this.value == 'bycertificate') {
                    $(".pincode-div").addClass('d-none')
                    $(".Vaccination-cert").removeClass('d-none')
                }
            });


            $("#Pincode").on('change',function(){
                let pincode = $(this).val()
                console.log('city::::::',pincode)
                $.ajax({
                    type: "POST",
                    url: "/user/find-by-pincode",
                    data: {
                        pincode: pincode
                    },
                    success: function(response){
                        console.log('response:::::::::',response)
                        AjaxTable(response.user_list)
                    },
                    dataType: 'JSON'
                    });
            })

            //FIND BY VC-1
            $("#Vaccination-cert-1").on('change',function(){
                let cert1 = $(this).val()
                $.ajax({
                    type: "POST",
                    url: "/user/find-by-vc-1",
                    data: {
                        cert: cert1
                    },
                    success: function(response){
                        console.log('response:::::::::',response)
                        AjaxTable(response.user_list)
                    },
                    dataType: 'JSON'
                    });
            })

            //FIND BY VC-2
            $("#Vaccination-cert-2").on('change',function(){
                let cert1 = $(this).val()
                $.ajax({
                    type: "POST",
                    url: "/user/find-by-vc-2",
                    data: {
                        cert: cert1
                    },
                    success: function(response){
                        console.log('response:::::::::',response)
                        AjaxTable(response.user_list)
                    },
                    dataType: 'JSON'
                    });
            })

           
            function AjaxTable(data_list){
                let table =  ``
                if(data_list.length > 0){
                    data_list.forEach(element => {
                        table += `<tr>
                                    <td>${element.blood_gruop}</td>
                                    <td>${element.age}</td>
                                    <td>${element.vc_1}</td>
                                    <td>${element.vc_1_date}</td>
                                    <td>${element.vc_2}</td>
                                    <td>${element.vc_2_date}</td>
                                    <td>${element.vc_1_city}</td>
                                    <td>${element.vc_2_city}</td>
                                </tr>`
                    });
                }else{
                    table +=  `<tr >
                            <td colspan="8">NO DATA</td>
                            </tr>`
                }
                $("#dataTable tbody").html(table)
            }
        })
    </script>

</body>

</html>